# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
- List popular languages for Data Science
- List data science libraries
- Make a table of Data Science tools
- Introduce arithmetic expression examples

Some of the popular languages that Data Scientists use are
1. Python
2. R
3. SQL
4. JavaScript
5. Julia
6. Scala

Some of the commonly used libraries used by Data Scientists include
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. BeautifulSoup

|Data Science Tools|
|-------|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

codecell = (3*4) + 5
print(codecell)

17

In [8]:
#This will convert 200 minutes to hours by dividing by 60
#200 minutes into hours

mins = 200
hours = mins // 60

#additional minutes
minutes = mins % 60

time = hours + minutes/60

print(time)

3.3333333333333335

## Author
Stella Joseph